#title{
    text-align: center
}
#canvas-wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);     
}
#leftArrow{
    position: absolute;
    top: 60%;
    left: 20%;
    display: none;
}
#rightArrow{
    position: absolute;
    top: 60%;
    right: 20%;
    display: none;
}

.blinking {
    animation: blinkingText 1s infinite;
}

.curtain {
	--transform-value: -100%;
	--animation-duration: 1s;
	--animation-ease: ease-in;
}

.introduction-image {
        background: url('./images/papyrus.jpg');
        width: 40em;
        height: 30em;
        z-index: 2000000;
        margin-left: 25%;     
        margin-top: 8%; 
        position: absolute;
}

.introduction-image > p {
        color: white;
        z-index: 3000000;
        font-family: cursive;
        font-size: 2em;
        margin-top: 5em;
        text-align: center;
}

/* beginning curtain */

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}

[data-animation*='first'] div:first-child, [data-animation*='first'] div:last-child {
	position: fixed;
	width: 50vw;
	height: 100vh;

	top: 0;

	border: .25em solid #a90329;
	background: linear-gradient(to right, #a90329 0%,#a90329 6%,#6d0019 10%,#a90329 14%,#a90329 20%,#6d0019 24%,#a90329 28%,#a90329 34%,#6d0019 38%,#a90329 42%,#a90329 48%,#6d0019 52%,#a90329 56%,#a90329 62%,#6d0019 66%,#a90329 70%,#a90329 76%,#6d0019 80%,#a90329 84%,#a90329 90%,#6d0019 94%,#a90329 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	z-index: 123456;
}

[data-animation*='first'] div:first-child {
    left: 0;

    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='first'] div:last-child {
    right: 0;

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}

#curtain-ending {
        display: none;
}

.curtain-end {
	--transform-value: -100%;
	--animation-duration: 1s;
	--animation-ease: ease-in;
}

#curtain-ending {
    display: none;
}

/* closing curtain */

@keyframes initialAnimation-horizontal1 {
        from {
            transform: translateX(var(--transform-value));
        }
        to {
            transform: translateX(0)
        }
    }
    
    [data-animation*='last'] div:first-child, [data-animation*='last'] div:last-child {
            position: fixed;
            width: 50vw;
            height: 100vh;
            top: 0;
    
            border: .25em solid #a90329;
            background: linear-gradient(to right, #a90329 0%,#a90329 6%,#6d0019 10%,#a90329 14%,#a90329 20%,#6d0019 24%,#a90329 28%,#a90329 34%,#6d0019 38%,#a90329 42%,#a90329 48%,#6d0019 52%,#a90329 56%,#a90329 62%,#6d0019 66%,#a90329 70%,#a90329 76%,#6d0019 80%,#a90329 84%,#a90329 90%,#6d0019 94%,#a90329 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
            z-index: 123456;
    }
    
    [data-animation*='last'] div:first-child {
        left: 0;
        --transform-value: -100%;
        animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 backwards initialAnimation-horizontal1;
    }
    [data-animation*='last'] div:last-child {
        right: 0;
    
        --transform-value: 100%;
        animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 backwards initialAnimation-horizontal1;
    }

.ending-image {
    background: url('./images/papyrus.jpg');
    width: 40em;
    height: 30em;
    z-index: 4000000;
    margin-left: 25%;     
    margin-top: 8%; 
    position: absolute;
    display: block;

    -webkit-animation: fadeInFromNone 10s ease-out;
    -moz-animation: fadeInFromNone 10s ease-out;
    -o-animation: fadeInFromNone 10s ease-out;
    animation: fadeInFromNone 10s ease-out;
}

.ending-image > p {
    color: white;
    z-index: 5000000;
    font-family: cursive;
    font-size: 1.3em;
    margin-top: 6em;
    text-align: center;
    display: block;

    -webkit-animation: fadeInFromNone 12s ease-out;
    -moz-animation: fadeInFromNone 12s ease-out;
    -o-animation: fadeInFromNone 12s ease-out;
    animation: fadeInFromNone 12s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}